.gpt3__cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2rem;
  margin: 4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
}

.gpt3__cta-content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  color: #0e0e0e;
  line-height: 30px;
}

.gpt3__cta-content h3 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
}

.gpt3__cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.gpt3__cta-button button {
  background-color: #000;
  border-radius: 40rem;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  border: none;
  outline: none;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (max-width: 650px) {
  .gpt3__cta {
    flex-direction: column;
    align-items: center;
  }
  .gpt3__cta-content {
    margin-bottom: 2rem;
  }
  .gpt3__cta-button {
    width: 100%;

    display: flex;
    margin: 0 auto;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__cta {
    margin: 4rem 2rem;
    padding: 1rem;
  }

  .gpt3__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
  }

  .gpt3__cta-button button {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
  }
}
